*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    
}





body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1400px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex; 
    justify-content:
        space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #000;
   


}

header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #000;
    transition: 0.5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block;


}

header nav ul li a:hover {
    background-color: black;
    color: white;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: white;

}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0.1)
}

.picture {
    width: 1400px;
    margin: 0 auto;
}

.content-title {

    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    /* 64.8px */
    margin-bottom: 40px;
}

.paragraph {
    margin: 0 auto;
    width: 856px;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    /* 31.5px */
    margin-bottom: 24px;
}
.colortext {
    color: #04959E;
font-size: 21px;
font-weight: 600;
line-height: 150%;
}
.main-button {
    background: #04959E;
    color: #FFF;
    display: block;
    margin: 0 auto;
font-size: 18px;
font-weight: 400;
line-height: 135%; /* 24.3px */
margin-bottom: 88px;

padding: 10px 24px;
}

.main-text-list {
    margin: 0 auto;
    width: 856px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 40px;
}
.floor-end {
    padding: 16px 0;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 150%; /* 27px */
}

.line {
    height: 1px;
    background-color: rgb(56, 52, 52);
}
ul{
 list-style: none;
}
ol{
    list-style: decimal;
}